@model EserciztazioneBiblioteca.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anno_di_pubblicazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anno_di_pubblicazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lingua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lingua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genere.Descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autore.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.casa_Editrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.casa_Editrice.nome_editore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prestiti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prestiti.Data_inizio)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prestiti.Data_fine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
